body, html {
  font-family: "Roboto", sans-serif;
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  background-color: #F2F7F0;
  color: #465;
}

div, section {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden; /* clearfix */
}

.row, .clearfix {
  min-height: 1px;
  clear: both;
  overflow: hidden; /* clearfix */
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*=col-] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) { .container { max-width: 480px; } }
@media (min-width: 768px) { .container { max-width: 768px; } }
@media (min-width: 960px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1200px; } }

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.3333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.main-content {
  max-width: 500px;
  text-align: center;
  font-size: 2em;
  margin: 10% auto;
}

.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 0;
  background-color: #689387;
  color: white;
}

.navbar {
  position: relative;
  min-height: 50px;
}

.navbar li {
  display: inline-block;
}

.navbar li > a {
  padding: 12.5px 15px;
}

.navbar-header {
  float: left;
  padding: 12.5px 0;
}

.navbar-nav, .navbar-brand {
  margin: 0;
  padding: 12.5px 0;
  font-size: 18px;
  line-height: 20px;
  height: 25px;
}

.navbar-brand-primary,
.navbar-brand-secondary {
  font-size: 28px;
  display: block;
  font-family: "Noto Serif", serif;
}

.navbar-brand-secondary {
  font-size: 0.85em;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #f0f0f0;
}

.navbar-right {
  float: right;
}

.masthead-image {
  background-image: url(images/sky.jpg); /* Open Licenced from http://littlevisuals.co/ */
  background-size: cover;
  background-position: top center;
}

.masthead-image-shade {
  background-color: rgba(66, 90, 83, 0.73);
  min-height: 400px;
}
